<h1><%=@survey.title%></h1>

<% @num_completed = @survey.completed_surveys.length %>

<h3>Completed <%=@survey.completed_surveys.length%> times</h3>

<% @survey.questions.each do |question| %>
<h3><%= question.question_text %></h3>
  <ul>
    <% question.choices.each do |choice| %>
      <% @results = aggregate_results(@survey.completed_surveys, choice) %>
      <li><%=choice.choice_text%>: <%= ((@results / @num_completed.to_f) * 100) %>% (<%=@results%> out of <%=@num_completed%> surveys completed) </li>
    <% end %>
  </ul>
<% end%>